<footer class="footer footer--default">
	<div class="footer-nav u-page-width-max">
		
		
			<a href="/IN/en_GB/contact-us" class="footer-nav__action footer-nav__action--contact" title="Contact Us">Contact Us&nbsp;<svg class="icon icon--action-mail"><use xlink:href="/_ui/responsive/theme-mauijimb2c/icons/icons.svg#action-mail"></use></svg></a><a href="/IN/en_GB/store-finder/position" class="footer-nav__action footer-nav__action--retailers" title="Find a Retailer">Find a Retailer&nbsp;<svg class="icon icon--action-location"><use xlink:href="/_ui/responsive/theme-mauijimb2c/icons/icons.svg#action-location"></use></svg></a><a href="Tel:  +91 44 42968899" class="footer-nav__action footer-nav__action--phone" title="+91 44 42968899">+91 44 42968899&nbsp;<svg class="icon icon--action-phone"><use xlink:href="/_ui/responsive/theme-mauijimb2c/icons/icons.svg#action-phone"></use></svg></a><div class="footer-nav__menus">
<div class="footer-nav__menu-column">
		





	
<div class="footer-nav__menu js-footer-nav-menu">

	<button class="footer-nav__menu-button js-footer-nav-button">
	
		Maui Jim
		
		<svg class="icon icon--arrow-up">
  <use xlink:href="/_ui/responsive/theme-mauijimb2c/icons/icons.svg#arrow-up"></use>
</svg>

            <svg class="icon icon--arrow-right">
  <use xlink:href="/_ui/responsive/theme-mauijimb2c/icons/icons.svg#arrow-right"></use>
</svg>

            <svg class="icon icon--arrow-down">
  <use xlink:href="/_ui/responsive/theme-mauijimb2c/icons/icons.svg#arrow-down"></use>
</svg>
		
		</button>
	<ul class="footer-nav__menu-items">
		

			

				

				
					<li class="yCmsComponent footer-nav__menu-item">
<a href="/IN/en_GB/about-us" class="footer-nav__menu-link" title="About Us">About Us</a></li>
				


			

				

				
					<li class="yCmsComponent footer-nav__menu-item">
<a href="/IN/en_GB/contact-us" class="footer-nav__menu-link" title="Contact Us">Contact Us</a></li>
				


			

				

				
					<li class="yCmsComponent footer-nav__menu-item">
<a href="/IN/en_GB/technology" class="footer-nav__menu-link" title="Technology">Technology</a></li>
				


			

				

				
					<li class="yCmsComponent footer-nav__menu-item">
<a href="/IN/en_GB/polarized-sunglasses" class="footer-nav__menu-link" title="Polarised Sunglasses">Polarised Sunglasses</a></li>
				


			

				

				
					<li class="yCmsComponent footer-nav__menu-item">
<a href="/IN/en_GB/golf-events" class="footer-nav__menu-link" title="Golf Events">Golf Events</a></li>
				


			

				

				
					<li class="yCmsComponent footer-nav__menu-item">
<a href="http://www.mauijimcorporategifts.com" class="footer-nav__menu-link" title="Corporate Gifts">Corporate Gifts</a></li>
				


			

				

				
					<li class="yCmsComponent footer-nav__menu-item">
<a href="https://careers.mauijim.com" class="footer-nav__menu-link" title="Careers" target="_blank">Careers</a></li>
				


			

				

				
					<li class="yCmsComponent footer-nav__menu-item">
<a href="https://www.austine.com/mauijim" class="footer-nav__menu-link" title="Austine Wood Comarow Polage® Art" target="_blank">Austine Wood Comarow Polage® Art</a></li>
				


			

		

			

				

				
					<li class="yCmsComponent footer-nav__menu-item">
<a href="https://trade.mauijim.com" class="footer-nav__menu-link" title="Trade Login" target="_blank">Trade Login</a></li>
				


			

		
	</ul>

</div>

<!-- MJS-1306 -->

<!-- End of MJS-1306 -->
</div>
			<div class="footer-nav__menu-column">
		





	
<div class="footer-nav__menu js-footer-nav-menu">

	<button class="footer-nav__menu-button js-footer-nav-button">
	
		Customer Service
		
		<svg class="icon icon--arrow-up">
  <use xlink:href="/_ui/responsive/theme-mauijimb2c/icons/icons.svg#arrow-up"></use>
</svg>

            <svg class="icon icon--arrow-right">
  <use xlink:href="/_ui/responsive/theme-mauijimb2c/icons/icons.svg#arrow-right"></use>
</svg>

            <svg class="icon icon--arrow-down">
  <use xlink:href="/_ui/responsive/theme-mauijimb2c/icons/icons.svg#arrow-down"></use>
</svg>
		
		</button>
	<ul class="footer-nav__menu-items">
		

			

				

				
					<li class="yCmsComponent footer-nav__menu-item">
<a href="/IN/en_GB/my-account/orders" class="footer-nav__menu-link" title="Order Status">Order Status</a></li>
				


			

				

				
					<li class="yCmsComponent footer-nav__menu-item">
<a href="/IN/en_GB/repairs" class="footer-nav__menu-link" title="Repairs">Repairs</a></li>
				


			

				

				
					
				


			

				

				
					<li class="yCmsComponent footer-nav__menu-item">
<a href="/IN/en_GB/product-registration" class="footer-nav__menu-link" title="Product Registration">Product Registration</a></li>
				


			

				

				
					<li class="yCmsComponent footer-nav__menu-item">
<a href="/IN/en_GB/passport-page" class="footer-nav__menu-link" title="Prescription">Prescription</a></li>
				


			

				

				
					<li class="yCmsComponent footer-nav__menu-item">
<a href="/IN/en_GB/store-finder/position" class="footer-nav__menu-link" title="Retailers">Retailers</a></li>
				


			

				

				
					<li class="yCmsComponent footer-nav__menu-item">
<a href="/IN/en_GB/faqs" class="footer-nav__menu-link" title="FAQs">FAQs</a></li>
				


			

				

				
					
				


			

		

			

				

				
					
				


			

		
	</ul>

</div>

<!-- MJS-1306 -->

<!-- End of MJS-1306 -->
</div>
			<div class="footer-nav__menu-column">
		





	
<div class="footer-nav__menu js-footer-nav-menu">

	<button class="footer-nav__menu-button js-footer-nav-button">
	
		Legal
		
		<svg class="icon icon--arrow-up">
  <use xlink:href="/_ui/responsive/theme-mauijimb2c/icons/icons.svg#arrow-up"></use>
</svg>

            <svg class="icon icon--arrow-right">
  <use xlink:href="/_ui/responsive/theme-mauijimb2c/icons/icons.svg#arrow-right"></use>
</svg>

            <svg class="icon icon--arrow-down">
  <use xlink:href="/_ui/responsive/theme-mauijimb2c/icons/icons.svg#arrow-down"></use>
</svg>
		
		</button>
	<ul class="footer-nav__menu-items">
		

			

				

				
					<li class="yCmsComponent footer-nav__menu-item">
<a href="/IN/en_GB/termsofuse" class="footer-nav__menu-link" title="Terms Of Use">Terms Of Use</a></li>
				


			

				

				
					<li class="yCmsComponent footer-nav__menu-item">
<a href="/IN/en_GB/privacy" class="footer-nav__menu-link" title="Privacy Policy">Privacy Policy</a></li>
				


			

				

				
					
				
					
				


			

				

				
					
				


			

				

				
					
				


			

		
	</ul>

</div>

<!-- MJS-1306 -->

<!-- End of MJS-1306 -->






	
<div class="footer-nav__menu js-footer-nav-menu">

</div>

<!-- MJS-1306 -->

<!-- End of MJS-1306 -->
</div>
			</div>
<div class="footer-nav__forms">
			<form id="storeFinderForm" class="footer__retailer-form find-retailer-search" action="/IN/en_GB/store-finder/position" method="POST"><label class="footer__retailer-label" for="footer__retailer-input">Find a Retailer</label>
	<input class="footer__retailer-input retailer-search-address" name="footer__retailer-input" placeholder="ZIP Code Or City" type="text">
	<button class="footer__retailer-submit" type="submit">
		<svg class="icon icon--angle-right">
  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/_ui/responsive/theme-mauijimb2c/icons/icons.svg#angle-right"></use>
	</svg>
	</button>
	<input name="command" value="search" type="hidden">
	<input name="place_address" value="" type="hidden">
	<input name="CSRFToken" value="7673466d-ec4d-43a2-9a89-5cb7704b72db" type="hidden">
<div>
<input name="CSRFToken" value="7673466d-ec4d-43a2-9a89-5cb7704b72db" type="hidden">
</div></form><div class="subscribe-form-wrapper subscribe-form-wrapper--mini js-subscribe-form js-subscribe-form--default">
	<form class="subscribe-form">
		<input class="subscribe-form__input js-subscribe-form-input" placeholder="Subscribe to Our 'Ohana" type="text">
		<button class="subscribe-form__submit button button--primary">
			<span class="subscribe-form__submit-label">Subscribe</span>
			<svg class="icon icon--submit-mail">
  <use xlink:href="/_ui/responsive/theme-mauijimb2c/icons/icons.svg#submit-mail"></use>
</svg>

		</button>
	</form>
	<div class="subscribe-form-status">
		<span class="subscribe-form-status__message js-subscribe-status-message"></span>
		<span class="subscribe-form-status__close js-subscribe-status-close-button">
			<svg class="icon icon--close-large">
  <use xlink:href="/_ui/responsive/theme-mauijimb2c/icons/icons.svg#close-large"></use>
</svg>

		</span>
	</div>
	<span class="subscribe-form-legal">Lorem ipsum dolor sit amet,
		consectetur adipiscing elit. <a class="subscribe-form-legal__link" href="#">Privacy Policy</a> </span>
</div>
</div>
	</div>

	<div class="footer__bottom">
		<div class="u-page-width-max">
			<a id="current-country" class="footer__geo footer__geo--country js-modal-open-link js-component-init" data-modal-id="country-selector" href="#"> <span class="footer__geo-label">Country:</span> <span class="footer__geo-current">United States<svg class="icon icon--arrow-right">
 <use xlink:href="/_ui/responsive/theme-mauijimb2c/icons/icons.svg#arrow-right"></use>
  
</svg> </span>

			</a>
			
			<a id="current-language" class="footer__geo footer__geo--language js-modal-open-link js-component-init" data-modal-id="language-selector" href="#"><span class="footer__geo-label">Language:</span>
					 <span class="footer__geo-current"> English<svg class="icon icon--arrow-right">
  <use xlink:href="/_ui/responsive/theme-mauijimb2c/icons/icons.svg#arrow-right"></use>
</svg>
				</span>
					</a>
			<ul class="social-icons">
				<li class="social-icons__item"><a class="social-icons__link" href="https://twitter.com/OfficialMauiJim" target="_blank"><i class="fab fa-twitter"></i></a></li>
	<li class="social-icons__item"><a class="social-icons__link" href="https://www.facebook.com/OfficialMauiJim/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
	<li class="social-icons__item"><a class="social-icons__link" href="https://www.instagram.com/officialmauijim/" target="_blank"><i class="fab fa-instagram"></i></a></li>
	</ul>
		</div>
	</div>
	<div class="footer__copyright">
		<img class="footer__copyright-logo" title="" src="{{ 'mauijim-brand-logo-small-white.png' | asset_url }}" alt="">

<span class="footer__copyright-text">©2018&nbsp;&nbsp;Maui Jim, Inc. Lahaina, Hawaii</span>
	</div>
</footer>